
.title{
    color: #7bbd43;
    font-size: xx-large;
    font-weight: 700;
    padding: 2% 2% 2% 2%;
}
.col-lg-5{
    background-color: #7bbd43;
    margin-bottom: 30px;
    font-size: small;
}
.col-lg-7{
    color: #7a4198;
    font-size: small;
    margin-bottom: 30px;
}

.career-footer{
    background-color: #3d2160;
    padding: 1% 1% 1% 1%;
    color: #fff;
    font-size: large;
}

.car-title{
    font-size: xx-large;
    font-weight: 700;
    color: #7bbd43;
}
