
/* Body,Header style */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    background-image: url("../Images/Background-01.png");
}

header {
    width: 100%;
    background-size: cover;

}
.content {
    width: 100%;
    margin: 1em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 15px;
}
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #7bbd43;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 30px;
    z-index: 300;
    
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: black;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
   
}

nav.black ul {
    background-color: rgba(61, 33, 96, 0.95);
    z-index: 1;
}

nav ul li {
    display: inline-block;
    padding: 16px 16px;;
}

nav ul li a {
    text-decoration: none;
    /* color: #7bbd43; */
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #fff;
    }

    nav.black ul {
          background: #000;          
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 3px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }
    
    .image{
        margin-top: 65px;
    }

    .sidebutton {
        visibility: hidden;
    }
    
    .footer{
        text-align: center;
    }

}

/* Side Button */
.sidebutton{
    padding-top: 20%;
    margin-left: -3%;
    position: fixed;
    /* -ms-transform: rotate(90deg); /* IE 9 */
   /*transform: rotate(90deg); */
    z-index: 300;
}

.sidebutton a{  
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
   font-size: large; 
}

/* Homepage-About */
.about {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 2% 2% 2% 2%;
}
.videos{
    box-shadow:8px 8px #7bbd43;
}
/* .about:hover{
    color: #fff;
} */

/* copyright */
.reserved-bot{
   
     background-color: black;
    }

/* end of copyright */
/* contact */
.card{
    color: #7a4198;
}
.contact .col-lg-12{
    padding: 3% 30px 3% 30px;
    background-color: #3d2160;
    color: #7bbd43;
    font-size: x-large;
}

/* Career Info */

.careers .col-md-9 .career-head{
    background: transparent;
    padding-left: 12%;
    padding-top: 12%;
    margin-top: 10px;
    font-weight: 800;
    font-size: xx-large;
    font-family: sans-serif;
    color: #7bbd43;
}

.careers .col-md-9 .career-body{
    padding-left: 12%;
    font-weight: lighter;
    font-size: large;
    font-style: initial;
    color: #3d2160;
}

.careers .col-md-3{
    padding-top: 3%;
    padding-bottom: 2%;
    padding-right: 4%;
}
/* contact */
.contactinfo{
    margin-top: 20px;
}
/* Client worked */
#services{
    padding:2% 25px 2% 25px;
}

.carousel-inner{
background-color: whitesmoke;
padding: 2% 2% 2% 2%;


}

.carousel-inner img {
    width: 40%;
    height: 100%;    
    
}

.carousel-item .col-md-3{
    padding-right: 5%;
}

/* video Home */
.col-lg-12{
    padding-top: 0.7%;
    background-color: #3d2160;
}
/* .col-lg-12:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: #3d2160;
    z-index: -1;
} */

/* Footer */
.footer{
    padding: 5% 10% 7% 10%;
    color: #3d2160;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bolder;    
    background: transparent;
}


.footer a{
    color: #3d2160 ;
}

.footer a:hover{
    color: #7bbd43;    
}

.footer .col-lg-4{
padding-left: 2%;
    
}
.footer .col-lg-2{
    padding-left: 6%;
       
}

.footer .col-lg-3{
    padding-left: 7%;

}

.social{
    padding: 2% 2% 2% 2%;
    color: #000;
    /* margin-left: -7%; */
}

/* services */

.services{
    background-color: #3d2160;
    
    /* margin-left: 4%; */
}

.services .col-lg-3{
    padding: 1% 0% 1% 1%;
    background-color: #7bbd43;
    opacity: 1;
    color: #fff;
    font-size: small;
    border:dotted;
    margin:1% 0% 1% 6%;
}

#facilities h1 {
      color: #7bbd43;
      font-weight: bold;
      font-size: xx-large;
      font-family: 'Times New Roman', Times, serif;
      padding: 1% 1% 1% 1%;
}
