
/* Body,Header style */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    background-size: cover;
}
.content {
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 15px;
}
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #7bbd43;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 300;

}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: black;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #3d2160;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    padding: 16px 16px;;
}

nav ul li a {
    text-decoration: none;
    color: #7bbd43;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #fff;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}
/* Homepage-About */
.about {
    padding: 1.5% 25px 23% 25px;
    text-align: center;
    font-size: smaller;
    background-color: #aacb3b;
    color: #fff;
    font-family: monospace;
}
/* .about:hover{
    color: #fff;
} */

/* footer */

.context-dark, .bg-gray-dark, .bg-primary {
    margin-top: 20px;
    padding-top: 1%;
    color:  #7a4198;
    background-color: #fff;
    font-size: medium;      
}
.container{
    text-align: center;
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #7a4198;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


.social{
    padding: 3% 5% 2% 3%;
    color: #ef5454;
}
/* .social-container .col {
    background-color: #7bbd43;
} */
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

<<<<<<< HEAD
/* copyright */
.reserved-bot{
     padding-top: 10px;
     padding-bottom: .1px;
     background-color: black;
     margin-top: 20px;
     margin-left: -20px;
     margin-right: -20px;}

/* end of copyright */
/* contact */
.card{
    color: #7a4198;
  
=======
.contact .col-lg-12{
    padding: 1% 30px 1.5% 30px;
    background-color: #3d2160;
    color: #7bbd43;
}

/* Career Info */

.career .col-md-8 .career-head{
    background: transparent;
    padding-left: 10%;
    padding-top: 12%;
    margin-top: 10px;
    font-weight: 800;
    font-size: xx-large;
>>>>>>> 9e3b8bb25531120e79f85a46eb72b2335452f70b
}

.career .col-md-8 .career-body{
    padding-left: 10%;
    font-weight: lighter;
    font-size: large;
    font-style: initial;
}
/* contact */
/* Client worked */
#services{
    padding:2% 25px 2% 25px;
}

    